body, input, label {
    font-size: 24px;
    line-height: 28px;
    font-family: sans-serif;
}

.contact-checkbox {
    display: none;
}

.contact__border {
    border: 1px solid black;
}

.contact__list {
    list-style-type: none;
    padding-left: 0;
}

.contact__container {
    max-width: 800px;
    margin: 0 auto;
}

.contact__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    background-color: antiquewhite;
}

.contact__info__container {
    display: block;
    height: 0;
    overflow: hidden;
}

.contact__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact__icon {
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .contact__icon:not(:last-child) {
        margin-right: 15px;
    }

    .contact__icon img {
        height: 24px;
    }

.contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contact__info__field {
    margin-right: 20px;
}

.contact__info__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
}

.contact__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-checkbox:checked + div {
    height: auto;
}

.contact-edit__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contact__name {
    font-size: 28px;
    line-height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .contact__name input {
        font-size: 28px;
        line-height: 32px;
    }

.contact__field {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .contact__field label {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center;
        align-self: center;
    }

.contact__field__input {
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    border-bottom-style: solid;
    margin-left: 30px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    outline: none;
}

    .contact__field__input:focus {
        background: #eeeeee;
    }

.deleted-field {
    text-decoration: line-through;
    background: #a8a8a8;
    color: #545454;
}

.contact-edit__container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-edit__submit {
    margin-top: 30px;
    background: antiquewhite;
    padding: 5px 20px;
    border: 1px solid black;
    cursor: pointer;
}

.contact_add {
    background: antiquewhite;
    display: inline-block;
    border: 1px solid black;
    margin-top: 30px;
    padding: 5px 20px;
}

.contact-new-field {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 40px;
    background: #eeeeee;
}

.contact_fieldadd_button {
    background: antiquewhite;
    -ms-flex-item-align: start;
    align-self: flex-start;
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px 20px;
    cursor: pointer;
}

.contact-edit__error {
    margin-top: 10px;
    color: red;
}

.modal-window__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

.modal-window {
    position: relative;
    width: 400px;
    top: calc(50vh - 100px);
    left: calc(50vw - 200px);
    background: #ebebeb;
    padding: 30px;
}

.modal-window__text {
    text-align: center;
}

.modal-window__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 30px;
}

.modal-window__button {
    border: 1px solid black;
    background: antiquewhite;
    width: 100px;
    padding: 0px 5px;
    text-align: center;
    cursor: pointer;
}

.request-window {
    position: absolute;
    width: 500px;
    height: 250px;
    bottom: 5px;
    left: 5px;
    background: white;
    border: 1px solid #969696;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.request-window__title {
    height: 30px;
    padding: 2px 15px;
    border-bottom: 1px solid #969696;
    background: #f0f0f0;
    font-size: 20px;
}

.request-window__text {
    height: 203px;
    overflow: auto;
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
}

.link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.icon-basket {
    height: 20px;
}
/*# sourceMappingURL=style.css.map */
